/* 全域設定 */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
}

/* 整個畫面外框 */
.board {
  width: 100vw;
  min-height: 100vh;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}
