/* 主內容 -------------------------------------------------- */

.main {
  flex: 1;
  padding: 40px 80px 40px;
  display: flex;
  flex-direction: column;
}

/* 上半部：圖片 + 會議資訊 */

.hero {
  display: flex;
  grid-template-columns: 430px 1fr;
  gap: 40px;
  align-items: start;
  margin-bottom: 40px;
  margin: 0 auto;
}

.hero-image {
  width: auto;
  height: auto;
  border-radius: 8px;
  position: relative;
  background: #eeeeee00;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-title {
  font-size: 36px;
  margin: 0;
}

.hero-title span {
  font-weight: 700;
}

.hero-detail {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 15px;
}

.hero-row {
  display: flex;
  gap: 6px;
}

/* 讓你自由改文字顏色 + 描邊 */
.hero-color {
  color: #777;
}

.hero-row dt {
  font-weight: 600;
}

.hero-row dd {
  margin: 0;
}

.primary-btn {
  margin-top: 20px;
  align-self: flex-start;
  padding: 12px 40px;
  border-radius: 4px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

/* 會議排程 -------------------------------------------------- */

.schedule-title {
  font-size: 18px;
  margin: 8px 0 16px;
}

.schedule-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.schedule-card {
  background: #ffffff;
  border-radius: 18px;
  padding: 18px 22px;
  border: 1px solid #c9c9c9;
}

.schedule-card-title {
  margin: 0 0 4px;
  font-size: 16px;
  font-weight: 600;
}

.schedule-line {
  margin: 2px 0;
  font-size: 14px;
}

.hero-img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.download-link {
  text-decoration: none;
  color: #fff;
}
